<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <!-- https://auctions.yahoo.co.jp/jp/show/bid_hist?aID=q1130736927&apg=8&typ=log#listtop -->
<head>
<title>Yahoo!オークション - 【希少】マツダ AZ-1 距離9,740㎞ 実走行！ツーオーナー ベースにピッタリ！！PG6SA　F6A　売り切ります！！</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta name="description" content=" 自動車基本情報 メーカー名 マツダ 車種名 AZ-1 グレード名 ベース 排気量 660 cc 年式 平成5年 (1993年) -月 輸入車モデル年式 - 走行距離 9,740 km 走行距離の状態 実走行 色 アカ系 色の名称 - 車検有効期限 令和6年4月まで ミッション 5速マニュアル ボディタイプ 軽自動車 型式 E-PG6SA 自動車詳細情報 ドア数 2ドア 乗車定員数 2人乗り 駆動方式 2WD 燃料 ガソリン車 点検記録簿 あり 修復歴 なし 車台番号（下3けた） 076 リサイクル預託金 ">
<meta name="keywords" content=" AZ-1,マツダ,自動車、オートバイ ">


<link rel="stylesheet" type="text/css" href="https://s.yimg.jp/images/auct/template/ui/auc_mod/css/00/comm/auct_ads.css?1_2">
<link rel="stylesheet" type="text/css" href="https://s.yimg.jp/images/auc/pc/bid_history/css/1.0.1/bid_history.min.css">
<link rel="stylesheet" type="text/css" href="https://s.yimg.jp/images/auct/template/ui/auc_mod/css/00/comm/auct_mb.css">
   <link rel="canonical" href="https://page.auctions.yahoo.co.jp/jp/auction/q1130736927">
<script type="text/javascript" src="https://s.yimg.jp/l/jquery/3.5.1/jquery.min.js"></script>
<link rel="preload" href="https://s.yimg.jp/images/templa/mhd/v3/css/mhd-v3-patch-pc.css" as="style" onload="this.rel='stylesheet'" />
    <link rel="preload" as="image" href="https://s.yimg.jp/c/logo/f/2.1/a/auctions_r_34_2x.png" />
<link rel="stylesheet" href="https://s.yimg.jp/images/auc/all/common/css/1.0.0/common.min.css" type="text/css"><script async src="https://yads.c.yimg.jp/js/yads-async.js"></script>
</head>
<body marginheight="0" topmargin="0">
<div class="wrapper" id="yaucBidRcd">

<!--
MASTHEAD
-->
<div id="acWrHeader">
<span class="yjGuid"><a name="yjPagetop" id="yjPagetop"></a></span>

<noscript>
      <div class="cm-StaticHeader cm-StaticHeader--pc">
        <div class="cm-StaticHeader__banner">
            <ul class="cm-StaticHeader__items">
                <li class="cm-StaticHeader__item">
                    <a class="cm-StaticHeader__link" href="https://www.yahoo.co.jp/">Yahoo! JAPAN</a>
                </li>
                <li class="cm-StaticHeader__item">
                    <a class="cm-StaticHeader__link" href="https://support.yahoo-net.jp/PccAuctions/s/">ヘルプ</a>
                </li>
            </ul>
        </div>
        <div class="cm-StaticHeader__contents">
            <a class="cm-StaticHeader__logoLink" href="https://auctions.yahoo.co.jp/">
            <img class="cm-StaticHeader__logo cm-StaticHeader__logo--pc" src="https://s.yimg.jp/c/logo/f/2.1/a/auctions_r_34_2x.png" width="238" height="34" alt="Yahoo!オークション" />
            </a>
        </div>
    </div>
</noscript>
<div id="msthd"></div>
<div id="emg-v3"></div>
<script>
    YAHOO = window.YAHOO || {};
    YAHOO.JP = YAHOO.JP || {};
    YAHOO.JP.templa = YAHOO.JP.templa || {};
    YAHOO.JP.templa.MHD = YAHOO.JP.templa.MHD || {};
    YAHOO.JP.templa.MHD.param = {
      layout: {
                  mode: "pc",
              },
      loginDoneUrl: "https://auctions.yahoo.co.jp/jp/show/bid_hist?aID=q1130736927&amp;#38;apg=8&amp;#38;typ=log",
      loginSrc: "auc",
      pcHeader: {
        helpUrl: "https://support.yahoo-net.jp/PccAuctions/s/",
        serviceLogo: {
          url: 'https://auctions.yahoo.co.jp/',
          alt: "Yahoo!オークション",
          src: "https://s.yimg.jp/c/logo/f/2.1/a/auctions_r_34_2x.png",
        },
      },
      spHeader: {
        serviceLogo: {
          url: 'https://auctions.yahoo.co.jp/',
          alt: 'Yahoo!オークション',
          src: 'https://s.yimg.jp/c/logo/s/2.1/a/auctions_r_22_2x.png',
        },
        sidebar: {
          zIndex: 5000001,
          menuList: [
            {
              title: 'Yahoo!オークション',
              lines: [
                {
                  columns: [
                    {
                      title: '出品',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/jp/show/submit?category=0',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'マイ・オークション',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/user/jp/show/mystatus',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: '入札中',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/openuser/jp/show/mystatus?select=bidding',
                      },
                    },
                    {
                      title: '出品中',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/openuser/jp/show/mystatus?select=selling',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: '落札分',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/closeduser/jp/show/mystatus?select=won',
                      },
                    },
                    {
                      title: '出品終了分',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/closeduser/jp/show/mystatus?select=closed&hasWinner=1',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'ウォッチリスト',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/openwatchlist/jp/show/mystatus?select=watchlist&watchclosed=0',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: '保存した検索条件',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/search/myshortcut?type=list',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'フォローリスト',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/follow/list/',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: '閲覧履歴',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/jp/show/browse_history',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: '獲得済みクーポン',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/coupon/list',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'オプション/設定',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/jp/show/prefs',
                      },
                    },
                  ],
                },
              ],
            },
            {
              title: 'カテゴリから探す',
              lines: [
                {
                  columns: [
                    {
                      title: 'コンピュータ',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list3/23336-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: '家電、AV、カメラ',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list3/23632-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: '音楽',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list3/22152-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: '本、雑誌',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list4/21600-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: '映画、ビデオ',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list4/21964-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'おもちゃ、ゲーム',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list4/25464-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'ホビー、カルチャー',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list5/24242-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'アンティーク、コレクション',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list5/20000-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'スポーツ、レジャー',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list4/24698-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: '自動車、オートバイ',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list1/26318-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'ファッション',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list2/23000-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'アクセサリー、時計',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list5/23140-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'ビューティ、ヘルスケア',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list3/42177-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: '食品、飲料',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list4/23976-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: '住まい、インテリア',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list5/24198-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'ペット、生き物',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list3/2084055844-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: '事務、店舗用品',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list5/22896-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: '花、園芸',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list5/26086-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'チケット、金券、宿泊予約',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list5/2084043920-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'ベビー用品',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list4/24202-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'タレントグッズ',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list3/2084032594-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'コミック、アニメグッズ',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list5/20060-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: '不動産',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list6/2084060731-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'チャリティー',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list3/2084217893-category.html',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'その他',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/list3/26084-category.html',
                      },
                    },
                  ],
                },
              ],
            },
            {
              title: 'お知らせ',
              lines: [
                {
                  columns: [
                    {
                      title: 'お知らせ',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/topic/notice/',
                      },
                    },
                  ],
                },
              ],
            },
            {
              title: '困ったとき',
              lines: [
                {
                  columns: [
                    {
                      title: 'ヘルプ',
                      link: {
                        url: 'https://support.yahoo-net.jp/SccAuctions/s/',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: 'ご利用ガイド',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/guide/m/navi/',
                      },
                    },
                  ],
                },
                {
                  columns: [
                    {
                      title: '安心安全な取引のために',
                      link: {
                        url: 'https://auctions.yahoo.co.jp/guide/guide/safesupport/',
                      },
                    },
                  ],
                },
              ],
            },
          ],
          footer: {
            texts: ['(C)LY Corporation'],
            fontSize: 12,
          },
        },
      },
    };
</script>
<script
    defer="defer"
    src="https://s.yimg.jp/images/templa/mhd/v3/js/mhd-v3-templa.js"
></script>
<script
    defer="defer"
    src="https://s.yimg.jp/images/templa/emg/v3/js/emg-v3-templa.js"
  ></script>



<!-- acMdAlertMsg -->
<noscript>
<div class="acMdAlertMsg">
<div class="untBody">
<p><em>現在JavaScriptの設定が無効になっています。</em></p>
<p class="decTxt">すべての機能を利用するにはJavaScriptの設定を有効にしてください。<a href="https://support.yahoo-net.jp/noscript">JavaScriptの設定を変更する方法はこちら</a>。</p>
</div>
</div>
</noscript>
<!-- /acMdAlertMsg -->






<!-- acMdAttention -->

<!-- /acMdAttention -->

<div id="acWrGlobalNavi">


<link rel="stylesheet" type="text/css" href="https://s.yimg.jp/images/auc/pc/common/css/3.0.3/common.min.css">

<!-- HeaderNavi-->
<div class="acMdNaviFrame">
<div class="HeaderNavi">
    <ul class="HeaderNavi__items">
        <li class="HeaderNavi__item"><a class="HeaderNavi__link HeaderNavi__link--myauc" href="https://auctions.yahoo.co.jp/user/jp/show/mystatus"  data-cl-params="_cl_vmodule:nav_head;_cl_link:myauc;_cl_position:1;"  rel="nofollow">マイオク</a></li>
        <li class="HeaderNavi__item"><a class="HeaderNavi__link HeaderNavi__link--watch" href="https://auctions.yahoo.co.jp/openwatchlist/jp/show/mystatus?select=watchlist&watchclosed=0"  data-cl-params="_cl_vmodule:nav_head;_cl_link:wl_head;_cl_position:1;"  rel="nofollow">ウォッチ</a></li>
        <li class="HeaderNavi__item"><a class="HeaderNavi__link HeaderNavi__link--sell" href="https://auctions.yahoo.co.jp/sell/jp/show/submit?category=2084049139"  data-cl-params="_cl_vmodule:nav_head;_cl_link:sell;_cl_position:1;"  rel="nofollow">出品</a></li>
    </ul>
</div>
<!-- / HeaderNavi-->
</div>
<!--/#acMdNaviFrame-->
</div>
<!--/#acWrGlobalNavi-->



</div>
<!--/#acWrHeader-->

<script type="text/javascript">
var headerBeaconClickSec = "l-header";
</script>
<!--
/MASTHEAD
-->

<!--
TITLEBAR
-->
<div class="highlightWordSearch" id="modTitBar">
	<div class="decBg01">
		<div class="decBg02">
				<div class="decBg03">
					<div class="decBg04">
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<h1 class="title" property="auction:Title">入札履歴</h1>
									<div class="nameWrap">
										<p class="name">【希少】マツダ AZ-1 距離9,740㎞ 実走行！ツーオーナー ベースにピッタリ！！PG6SA　F6A　売り切ります！！</p>
										<a class="pageBack" href="https://page.auctions.yahoo.co.jp/auction/q1130736927">商品ページに戻る</a>
									</div>	
								</td>
							</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!--
/TITLEBAR
-->


<!--
TABHEAD
-->
<div class="decTabHead">
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td class="decTabHead01Off">
				<a href="/jp/show/bid_hist?aID=q1130736927">
					<p>入札者の順位</p>
				</a>
			</td>
			<td class="decTabHead01On">
				<p>すべての入札履歴</p>
				<p class="count">380件</p>
			</td>
			<td class="decTabHeadAbout">
				<a href="https://support.yahoo-net.jp/PccAuctions/s/article/H000008806">入札者の表示について</a>
			</td>
		</tr>
	</table>
</div>
<!--
/TABHEAD
-->

<!--
PAGENAVI
-->
<div class="modPgCntTop">
	<div class="pts03">
	<p>
		<strong>8</strong>/8ページ</p>
	</div>
			<div class="pts04">
		<p>
							<a class="prev" href="/jp/show/bid_hist?aID=q1130736927&apg=7&typ=log#listtop">前の50件</a>
			
											 	<span class="next">次の50件</span>
									</p>
		</div>
		<div class="clr"></div>
	</div>
<!--
/PAGENAVI
-->

<!--
BIDLOG
-->
	<div class="log" id="modCtgSearchResult">
		<div class="untBody">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/00.png" class="ptsIcoUser">
																kit******** 入札。数量： 1 で 887,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/07.png" class="ptsIcoUser">
																ともちゃん 自動入札。 887,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/00.png" class="ptsIcoUser">
																kit******** 自動入札。 886,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/07.png" class="ptsIcoUser">
																ともちゃん 自動入札。 886,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/00.png" class="ptsIcoUser">
																kit******** 入札。数量： 1 で 885,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/07.png" class="ptsIcoUser">
																ともちゃん 自動入札。 885,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/00.png" class="ptsIcoUser">
																kit******** 自動入札。 884,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/07.png" class="ptsIcoUser">
																ともちゃん 自動入札。 884,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/00.png" class="ptsIcoUser">
																kit******** 入札。数量： 1 で 883,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/07.png" class="ptsIcoUser">
																ともちゃん 自動入札。 883,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/00.png" class="ptsIcoUser">
																kit******** 自動入札。 882,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/07.png" class="ptsIcoUser">
																ともちゃん 自動入札。 882,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/00.png" class="ptsIcoUser">
																kit******** 入札。数量： 1 で 881,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/07.png" class="ptsIcoUser">
																ともちゃん 自動入札。 881,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/00.png" class="ptsIcoUser">
																kit******** 自動入札。 880,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/07.png" class="ptsIcoUser">
																ともちゃん 自動入札。 880,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/00.png" class="ptsIcoUser">
																kit******** 入札。数量： 1 で 879,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/07.png" class="ptsIcoUser">
																ともちゃん 自動入札。 879,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/00.png" class="ptsIcoUser">
																kit******** 自動入札。 878,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/07.png" class="ptsIcoUser">
																ともちゃん 自動入札。 878,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/00.png" class="ptsIcoUser">
																kit******** 入札。数量： 1 で 877,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/07.png" class="ptsIcoUser">
																ともちゃん 自動入札。 877,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/00.png" class="ptsIcoUser">
																kit******** 自動入札。 876,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/07.png" class="ptsIcoUser">
																ともちゃん 自動入札。 876,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/00.png" class="ptsIcoUser">
																kit******** 入札。数量： 1 で 875,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/07.png" class="ptsIcoUser">
																ともちゃん 自動入札。 875,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/00.png" class="ptsIcoUser">
																kit******** 自動入札。 874,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								5月 5日 14時 50分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/account/sp/img/display_name/user/128/07.png" class="ptsIcoUser">
																ともちゃん 自動入札。 874,000
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								[5月 7日 2時 29分]
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/auct/template/ui/iphone/images/2_1_8/ico_user.png" class="ptsIcoUser">
																...
							</td>
						</tr>
																				<tr>
							<td class="decBg01">
								4月 27日 16時 40分
							</td>
							<td>
																	<img width="18" height="18" alt="" src="https://s.yimg.jp/images/auct/template/ui/iphone/images/2_1_8/ico_user.png" class="ptsIcoUser">
																オークション開始。数量： 1 で 100,000
							</td>
						</tr>
												</table>
		</div>
	</div>
<!--
/BIDLOG
-->

<!--
PAGENAVI
-->
		<div class="modPgCntTop">
	<div class="pts03">
	<p>
		<strong>8</strong>/8ページ</p>
	</div>
			<div class="pts04">
		<p>
							<a class="prev" href="/jp/show/bid_hist?aID=q1130736927&apg=7&typ=log#listtop">前の50件</a>
			
											 	<span class="next">次の50件</span>
									</p>
		</div>
		<div class="clr"></div>
	</div>
<!--
/PAGENAVI
-->

<!--
ADFOOTER
-->
<div id="modAdFtComm">
<!--
AD_SQB
-->
<div class="acMdAdSqb js-modal-cover" id="auctionSqb">
                <script> 
(function (window) { 
window.YJ_YADS = window.YJ_YADS || { tasks: [] }; 
window.YJ_YADS.tasks.push({ 
yads_ad_ds : '88619_219040', 
yads_parent_element : 'auctionSqb', 
});
})(window);</script>
            </div>
            <style>
                .acMdAdSqb{margin:0 auto 20px}
            </style>
<!--
/AD_SQB
-->
</div>
<!--
/ADFOOTER
-->

<!--
FOOTER
-->
<div id="Footer">
            <div class="cm-Footer cm-Footer--pc">
                <div class="cm-Footer__inner">
            <ul class="cm-Footer__services">
                <li class="cm-Footer__service">
                    <a
                        class="cm-Footer__serviceLink"
                        href="https://auctions.yahoo.co.jp"
                         data-cl-params="_cl_vmodule:footer;_cl_link:top;_cl_position:1;" 
                    >Yahoo!オークション</a>
                                    </li>
                <li class="cm-Footer__service">
                    <a
                        class="cm-Footer__serviceLink"
                        href="https://www.yahoo.co.jp/"
                         data-cl-params="_cl_vmodule:footer;_cl_link:ytop;_cl_position:2;" 
                        rel="nofollow"
                    >Yahoo! JAPAN</a>
                                    </li>
            </ul>
            <div class="cm-Footer__itemsWrap">
                <ul class="cm-Footer__items">
                    <li class="cm-Footer__item">
                        <a
                            class="cm-Footer__itemLink"
                            href="https://www.lycorp.co.jp/ja/company/privacypolicy/"
                             data-cl-params="_cl_vmodule:footer;_cl_link:lypol;_cl_position:3;" 
                            rel="nofollow"
                        >プライバシーポリシー</a>
                                            </li>
                    <li class="cm-Footer__item">
                        <a
                            class="cm-Footer__itemLink"
                            href="https://privacy.lycorp.co.jp/ja/"
                             data-cl-params="_cl_vmodule:footer;_cl_link:pol;_cl_position:4;" 
                            rel="nofollow"
                        >プライバシーセンター</a>
                                            </li>
                </ul>
                <ul class="cm-Footer__items">
                    <li class="cm-Footer__item">
                        <a
                            class="cm-Footer__itemLink"
                            href="https://www.lycorp.co.jp/ja/company/terms/"
                             data-cl-params="_cl_vmodule:footer;_cl_link:ag;_cl_position:5;" 
                            rel="nofollow"
                        >利用規約</a>
                                            </li>
                    <li class="cm-Footer__item">
                        <a
                            class="cm-Footer__itemLink"
                            href="https://premium.yahoo.co.jp/info/guidelines.html?sc_yprec=yyac_footer"
                             data-cl-params="_cl_vmodule:footer;_cl_link:gidpre;_cl_position:6;" 
                            rel="nofollow"
                        >LYPプレミアム利用ガイド</a>
                                            </li>
                    <li class="cm-Footer__item">
                        <a
                            class="cm-Footer__itemLink"
                            href="https://auctions.yahoo.co.jp/special/html/guidelines.html"
                             data-cl-params="_cl_vmodule:footer;_cl_link:gidlin;_cl_position:7;" 
                        >ガイドライン</a>
                                            </li>
                </ul>
            </div>
            <div class="cm-Footer__itemsWrap">
                <ul class="cm-Footer__items">
                    <li class="cm-Footer__item">
                        <a
                            class="cm-Footer__itemLink"
                            href="https://auctions.yahoo.co.jp/special/html/tokushoho.html"
                             data-cl-params="_cl_vmodule:footer;_cl_link:toku;_cl_position:8;" 
                        >特定商取引法の表示</a>
                                            </li>
                    <li class="cm-Footer__item">
                        <a
                            class="cm-Footer__itemLink"
                            href="https://auctions.yahoo.co.jp/store/business/index.html"
                             data-cl-params="_cl_vmodule:footer;_cl_link:stropn;_cl_position:9;" 
                        >ストア出店について</a>
                                            </li>
                </ul>
                <ul class="cm-Footer__items">
                    <li class="cm-Footer__item">
                        <a
                            class="cm-Footer__itemLink"
                            href="https://support.yahoo-net.jp/voc/s/auctions"
                             data-cl-params="_cl_vmodule:footer;_cl_link:fdbk;_cl_position:10;" 
                            rel="nofollow"
                        >ご意見・ご要望</a>
                                            </li>
                    <li class="cm-Footer__item">
                        <a
                            class="cm-Footer__itemLink"
                                                            href="https://support.yahoo-net.jp/PccAuctions/s/"
                                                         data-cl-params="_cl_vmodule:footer;_cl_link:help;_cl_position:11;" 
                            rel="nofollow"
                        >ヘルプ・お問い合わせ</a>
                                            </li>
                </ul>
            </div>
            <small class="cm-Footer__copyright">© LY Corporation</small>
        </div>
    </div>
</div>
<!--
/FOOTER
-->

</div>
<script async src="https://s.yimg.jp/images/ds/yas/ya-1.4.4.min.js"></script>
<script>
window.yacmds = window.yacmds || [];
window.ya = window.ya || function(){yacmds.push(arguments)};

ya('init', '987ba8745ab04463bb3c58b124406999', 'd75d680c-af7c-4207-96ee-226f2b841acb');
ya('hit', 'pageview,webPerformance');
</script>
<script src="https://s.yimg.jp/images/ds/yas/ual-2.10.2.min.js"></script>
<script>
  window.ualcmds = window.ualcmds || [];
  window.ual = window.ual || function() {
    ualcmds.push(arguments);
  };

  ual('config', 'token', 'c7c61354-54b0-48b6-b152-a67e042b8e21');
  if (typeof YAHOO !== 'undefined'
    && typeof YAHOO.i13n !== 'undefined'
    && typeof YAHOO.i13n.A_SID !== 'undefined') {
    ual('hit', 'pageview', {
      service: 'auctions',
      opttype: 'pc',
      nopv: false,
      hierarchy_id: '2084315166',
      ss_join_id: YAHOO.i13n.A_SID,

    });
  } else {
    ual('hit', 'pageview', {
      service: 'auctions',
      opttype: 'pc',
      nopv: false,
      hierarchy_id: '2084315166',

    });
  }

</script>

</body>
</html>

