<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoodsHunter</title>
  <style>
    .container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .img-container {
      position: relative;
    }
    .price {
      border-radius: 0 20px 20px 0;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      font-size: 14px;
      font-weight: bold;
      padding: 2px 2px 2px 4px;
      bottom: 0;
      left: 0;
    }
    .sold {
      height: 0;
      width: 0;
      border-width: 20px;
      border-style: solid;
      border-color: red transparent transparent red;
    }
    .sold::after {
      content: "SOLD";
    }
    .name {
      box-sizing: border-box;
      padding: 6px;
    }
  </style>
</head>
<body>
  <div class="container">
    <% data.forEach(function(data){ %>
    <div class="grid-unit">
      <div
        class="img-container"
        onclick="window.open('https://jp.mercari.com/item/' + '<%= data.id %>')"
      >
        <img src="<%= data.thumbnails %>" alt="" class="image" />
        <div class="price"><%= data.price %></div>
        <% if(data.status !== "on_sale") { %>
          <div class="sold"></div>
        <% } %> 
      </div>
      <div class="name">
        <%= data.name %> 
      </div>
    </div>
    <% }) %>
  </div>
</body>
</html>